
@media screen and (max-width:425px) and (min-width:320px){
  .section-title h2 {
    font-size: 27px;
}

.section-title p {
    font-size: 18px;
}

a.sbtn-secondary {
  margin-left: 0;
  margin-top: 30px;
  font-size: 16px;
}

a.sbtn-primary {
  font-size: 16px;
}
a.sbtn-primary {
  display: block;
}
.section-btn {
  display: inline-block;
}
}

@media screen and (max-width:375px) and (min-width:320px){
  .section-title h2 {
    font-size: 27px;
}

.section-title p {
    font-size: 18px;
}

a.sbtn-secondary {
  margin-left: 0;
  margin-top: 30px;
  font-size: 16px;
}

a.sbtn-primary {
  font-size: 16px;
}
}


@media (max-width: 320) {
    body {
      background-color:red;
    }
    .eur {
        bottom: 237px;
    }
  }