
@media screen and (max-width:425px) and (min-width:320px){
  a.discover-btn {
    padding: 10px;
    font-size: 18px;
}

.section-title h2 {
    font-size: 22px;
}

.section-bg {
    padding-top: 80px;
    padding-bottom: 50px;
}
}

@media screen and (max-width:375px) and (min-width:320px){
  a.discover-btn {
    padding: 10px;
    font-size: 18px;
}

.section-title h2 {
    font-size: 22px;
}

.section-bg {
    padding-top: 80px;
    padding-bottom: 50px;
}
}


@media (max-width: 320) {

  }